.calculator{
    width: 500px;
    height:600px;
    display: flex;
    border: 5px solid black;
    margin: 0 auto;
    flex-wrap: wrap;
}
.screen{
    flex: 1 0 100%;
    border: 1px solid black;
    text-align-last: right;
    font-size: 4rem;
    padding-top: 50px;
}
.button{
    flex: 1 0 100px;
    border: 1px solid black;
    text-align: center;
    padding-top: 15px;
    background-color: rgb(42, 117, 216);
    font-size: 3rem;
}
.operator{
    background-color: rgb(161, 94, 17);
}
.zero{
    flex: 1 0 45%
}

